.promo {
  width: 100%;
  background: #073042;
  padding: 125px 70px 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 375px 44px 70px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding-top: calc(100vw / 2.5);
  }
}

@media screen and (max-width: 470px) {
  .promo {
    padding: 257px 0 40px;
  }
}

.promo__text {
  max-width: 626px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .promo__text {
    text-align: center;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 470px) {
  .promo__text {
    font-size: 31px;
    line-height: 39px;
    max-width: 300px;
  }
}

.promo__logoBlock {
  margin: 102px auto 0;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1042px) {
  .promo__logoBlock {
    width: 100%;
    min-height: 230px;
  }
}

@media screen and (max-width: 768px) {
  .promo__logoBlock {
    margin: 140px auto 0;
  }
}

@media screen and (max-width: 470px) {
  .promo__logoBlock {
    margin: 60px auto 0;
  }
}

.promo__logo {
  display: block;
  width: 722px;
  height: 244px;
  margin-left: auto;
}

@media screen and (max-width: 1042px) {
  .promo__logo {
    width: 680px;
    height: 230px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0 auto 0;
  }
}

